{
{% for host in groups["all"] %}
  {% if ansible_facts["hostname"] not in host %}

  "{{ host }}": {
    "visible": true,
    "address": "{{ host }}"
  }{% if not loop.last %},{% endif %}

  {% endif  %}
{% endfor %}
}
